/* ANCIENT WATER */

.ancient-water-shades {
  --color-skyway: oklch(0.7952 0.0352 253.75);
  --color-blue-finch: oklch(0.8455 0.0329 254.02);
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-country-air: oklch(0.879 0.0246 248.11);
}

.ancient-water-complementary {
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-nova-scotia: oklch(0.8955 0.0217 65.29);
}

.ancient-water-monochromatic {
  --color-pageant-blue: oklch(0.2929 0.0459 261.37);
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-blue-yonder: oklch(0.5675 0.0835 260.58);
}

.ancient-water-split-complementart {
  --color-mauve-chalk: oklch(0.8746 0.0235 20.9);
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-sylvan-green: oklch(0.9266 0.041 111.69);
}

.ancient-water-triadic {
  --color-sweet-taffy: oklch(0.868 0.0299 350.61);
  --color-ambrosia: oklch(0.9046 0.0448 137.01);
}

.ancient-water-tetradic {
  --color-cradle-pink: oklch(0.8855 0.0365 349);
  --color-veiled-vista: oklch(0.8913 0.046 147.16);
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-nova-scotia: oklch(0.8955 0.0217 65.29);
}
