/* DUSKY ORCHID */

.DuskyOrchidLightness {
  --color-tulipwood: oklch(0.4999 0.0635 353.46);
  --color-bordaux: oklch(0.5617 0.0734 349.97);
  --color-dusky-orchid: oklch(0.5949 0.0567 352.31);
  --color-elderberry: oklch(0.6395 0.0335 352.05);
  --color-mauve-shadows: oklch(0.709 0.0375 353.29);
  --color-dawn-pink: oklch(0.7437 0.0365 350.32);
  --color-orchid-ice: oklch(0.8738 0.023 336.89);
  --color-sweet-taffy: oklch(0.868 0.0299 350.61);
}

.DuskyOrchidSplitComplementary {
  --color-shale-green: oklch(0.6224 0.0553 144.03);
  --color-mineral-blue: oklch(0.6302 0.04 198.32);
}
