/* DUSTED PERI */

.dusted-peri-hue {
  --color-bleached-denim: oklch(0.5503 0.07 273.11);
  --color-lavender-violet: oklch(0.5948 0.0643 278.98);
  --color-dusted-peri: oklch(0.5481 0.0822 281.66);
  --color-very-peri: oklch(0.5433 0.105 281.67);
  --color-corsican-blue: oklch(0.5143 0.0799 286.82);
  --color-aster-purple: oklch(0.5875 0.079 291.71);
}
.dusted-peri-shades {
  --color-skipper-blue: oklch(0.4252 0.0661 280.99);
  --color-iris-bloom: oklch(0.5142 0.0991 279.54);
  --color-violet-storm: oklch(0.5151 0.0946 278.89);
  --color-dusted-peri: oklch(0.5481 0.0822 281.66);
  --color-lavender-violet: oklch(0.5948 0.0643 278.98);
  --color-persian-violet: oklch(0.6579 0.0534 282.33);
  --color-sweet-lavender: oklch(0.7019 0.0553 283.69);
  --color-cosmic-sky: oklch(0.7465 0.0371 285.47);
  --color-lavender-fields: oklch(0.7645 0.0513 282.6);
  --color-dusted-shade: oklch(0.7729 0.0467 288.03);
  --color-purple-feathe: oklch(0.7929 0.038 288.9);
}

.dusted-peri-analogous {
  --color-purple-haze: oklch(0.5811 0.0551 302.98);
  --color-blue-shadow: oklch(0.5945 0.0482 245.56);
}

.dusted-peri-complementary {
  --color-fern: oklch(0.687 0.078 113.36);
  --color-barritone-blue: oklch(0.2821 0.0257 281.42);
}
.dusted-peri-split-complementary {
  --color-burro: oklch(0.6176 0.0519 57.29);
  --color-tendril: oklch(0.6743 0.0787 127.44);
}
.dusted-peri-monochromatic {
  --color-lilac-hint: oklch(0.8606 0.0137 286.11);
}

.dusted-peri-triadic {
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-peppermint: oklch(0.6487 0.0916 146.23);
}

.dusted-peri-tetradic {
  --color-dusky-orchid: oklch(0.5949 0.0567 352.31);
  --color-fern: oklch(0.687 0.078 113.36);
  --color-malachite-green: oklch(0.6504 0.0526 167.79);
}

/* Dusky Orchid  */

.TriadicDuskyOrchid {
  --color-aspen-green: oklch(0.6569 0.0639 138.35);
  --color-country-blue: oklch(0.5953 0.046 264.14);
}

.TetradicDuskyOrchid {
  --color-blue-ice: oklch(0.5792 0.0547 274.56);
  --color-sage: oklch(0.654 0.0537 111.54);
  --color-malachite-green: oklch(0.6504 0.0526 167.79);
}

.ComplementaryDuskyOrchid {
  --color-malachite-green: oklch(0.6504 0.0526 167.79);
}

.MonochromaticDuskyOrchid {
  --color-orchid-ice: oklch(0.8738 0.023 336.89);
}
