/* MAGICAL FOREST */

.magical-forest-triadic {
  --color-plum-perfect: oklch(0.3517 0.0353 336.04);
  --color-kombu-green: oklch(0.364 0.0267 128.05);
}

.tetradic {
  --color-blackberry-cordial: oklch(0.324 0.0576 317.78);
  --color-kombu-green: oklch(0.364 0.0267 128.05);
  --color-java: oklch(0.3383 0.0235 26.61);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
}
