/* MARITIME BLUE */

.maritime-blue-shades {
  --color-havdyp-darkest: oklch(0.1662 0.0148 278.32);
  --color-havdyp-darker: oklch(0.1996 0.0201 279.96);
  --color-havdyp-dark: oklch(0.2317 0.0251 280.82);
  --color-havdyp-200: oklch(0.2884 0.0366 279.42);
  --color-havdyp-100: oklch(0.2623 0.0319 278.76);
  --color-havdyp-500: oklch(0.4033 0.0588 279.64);

  --color-barritone-blue: oklch(0.2821 0.0257 281.42);
  --color-evening-blue: oklch(0.2918 0.038 285.97);
  --color-occean-havern: oklch(0.2957 0.0549 275.35);
  --color-peacoat: oklch(0.308 0.038 277.64);
  --color-havdyp: oklch(0.2884 0.0366 279.42);
  --color-patriot-blue: oklch(0.3504 0.0537 281.83);
  --color-deep-cobalt: oklch(0.3982 0.0575 278.29);
  --color-skipper-blue: oklch(0.4252 0.0661 280.99);
}

.maritime-blue-analogous {
  --color-blueberry: oklch(0.3191 0.022 259.38);
  --color-inking: oklch(0.3048 0.0341 291.48);
}

.maritime-blue-complementary {
  --color-demitasse: oklch(0.3328 0.0233 53.3);
}

.maritime-monochromatic {
  --color-ancient-water: oklch(0.8733 0.0246 259.82);
  --color-havdyp: oklch(0.2884 0.0366 279.42);
  --color-dusted-peri: oklch(0.5481 0.0822 281.66);
}

.maritime-split-complementary {
  --color-rosin: oklch(0.3299 0.0153 107.21);
  --color-havdyp: oklch(0.2884 0.0366 279.42);
  --color-demitasse: oklch(0.3328 0.0233 53.3);
}

.maritime-blue-triadic {
  --color-chocolate-plum: oklch(0.3159 0.0237 14.31);
  --color-demitasse: oklch(0.3328 0.0233 53.3);
  --color-havdyp: oklch(0.2884 0.0366 279.42);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
}

.maritime-other {
  --color-black-iris: oklch(0.3125 0.0331 272.35);
  --color-peacoat: oklch(0.308 0.038 277.64);
  --color-black-cat: oklch(0.3158 0.016 280.42);
  --color-black-beauty: oklch(0.2739 0.0055 286.03);
  --color-dark-navy: oklch(0.307 0.0126 279.18);
  --color-foggy-dew: oklch(0.8685 0.008 139.44);
}
