/* MOUNTAIN VIEW */

.mountain-view-lightness {
  --color-deep-forest: oklch(0.3638 0.0178 154.9);
  --color-greener-pastures: oklch(0.4048 0.0441 151.51);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
  --color-greener-pastures: oklch(0.4048 0.0441 151.51);
  --color-fairway: oklch(0.5054 0.0686 150.31);
  --color-black-forrest: oklch(0.4103 0.0351 135.85);
  --color-camping-green: oklch(0.4257 0.0261 153.39);
  --color-comfrey: oklch(0.5456 0.0507 150.51);
}

.mountain-view-analogous {
  --color-darkest-spruce: oklch(0.348 0.0172 190.63);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
}

.mountain-view-complementary {
  --color-obsedian: oklch(0.3403 0.0124 320.59);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
}

.mountain-view-split-complementary {
  --color-obsedian: oklch(0.3403 0.0124 320.59);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
  --color-black-coffee: oklch(0.3221 0.0176 23.7);
}

.mountain-view-monochromatic {
  --color-fairest-jade: oklch(0.9041 0.02 143.03);
  --color-mineral-green: oklch(0.6545 0.0641 142.67);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
}

.mountain-view-triadic {
  --color-seaborne: oklch(0.3067 0.0232 284.95);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
  --color-black-coffee: oklch(0.3221 0.0176 23.7);
}

.mountain-view-tetradic {
  --color-obsedian: oklch(0.3403 0.0124 320.59);
  --color-blueberry: oklch(0.3191 0.022 259.38);
  --color-mountain-view: oklch(0.3424 0.0298 148.54);
  --color-demitasse: oklch(0.3328 0.0233 53.3);
}

.obsedian-shades {
  --color-black-onyx: oklch(0.2827 0.0092 325.82);
  --color-obsedian: oklch(0.3403 0.0124 320.59);
  --color-black-hole: oklch(0.3721 0.0078 317.73);
  --color-boulevard: oklch(0.4478 0.0095 319.45);
}

.obesdian-monochromatic {
  --color-purple-ash: oklch(0.6266 0.03 314.59);
  --color-barely-blue: oklch(0.9041 0.0035 174.47);
}
