/* VEILED VISTA */

.veiled-vista-shades {
  --color-veiled-vista: oklch(0.8913 0.046 147.16);
  --color-tender-stem: oklch(0.8619 0.0475 150.93);
  --color-clearly-aqua: oklch(0.8919 0.0268 155.92);
}
