/* WHITERED ROSE */

.whitered-rose-shades {
  --color-marsala: oklch(0.5125 0.0956 23.49);
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-burlwood: oklch(0.5892 0.0545 28);
  --color-antier: oklch(0.6039 0.0343 27.96);
  --color-ash-rose: oklch(0.6538 0.0652 23.94);
  --color-pale-mauve: oklch(0.7491 0.0401 18.08);
}

.whitered-rose-analogous {
  --color-cartouche: oklch(0.6507 0.0597 68.22);
  --color-dusky-orchid: oklch(0.5949 0.0567 352.31);
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
}

.whitered-rose-monochromic {
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-mauve-chalk: oklch(0.8746 0.0235 20.9);
  --color-ganache: oklch(0.2938 0.0165 11.97);
}

.whitered-rose-complementary {
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-canton: oklch(0.674 0.0564 189.94);
}

.whitered-rose-split-complementary {
  --color-blue-shadow: oklch(0.5945 0.0482 245.56);
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-creme-de-menthe: oklch(0.6729 0.0636 165.83);
}

.whitered-rose-triadic {
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-dusted-peri: oklch(0.5481 0.0822 281.66);
  --color-peppermint: oklch(0.6487 0.0916 146.23);
}

.whitered-rose-tetradic {
  --color-tendril: oklch(0.6743 0.0787 127.44);
  --color-withered-rose: oklch(0.5754 0.0778 19.73);
  --color-canton: oklch(0.674 0.0564 189.94);
  --color-amnesty-orchid: oklch(0.5875 0.0997 313.96);
}
